SERVER_PORT=<your-server-port>

# RabbitMQ 配置
RABBITMQ_HOST=<your-host>
RABBITMQ_PORT=<your-port>
RABBITMQ_USERNAME=<your-username>
RABBITMQ_PASSWORD=<your-password>

# JWT 配置
JWT_SECRET=<your-jwt-secret>

WEBSITE_URL=<your-website-url>