:root {
  --primary-color-hover: rgb(9, 95, 105);
  --primary-color: rgb(10, 110, 120);
  --primary-color-disabled: rgba(93, 152, 156, 0.5);
  --header-height: 60px;
  --header-background-color: white;
  --header-border-color: lightgray;
  --header-text-color: black;
  --menu-background-color: white;
  --background-color: white;
  --menu-border-color: lightgray;
  --menu-selected-background-color: rgba(208, 250, 255, 0.659);
  --menu-text-color: black;
  --scroller-background-color: rgba(130, 175, 180, 0.5);
  --normal-background-color: rgb(241, 241, 241);
  --text-color: black;
  --menu-width: 200px;
  --page-max-width: 1200px;
}

[data-theme='dark'] {
  --header-background-color: #2b2b2b;
  --header-border-color: #555;
  --header-text-color: white;
  --menu-background-color: #333;
  --background-color: #121212;
  --menu-border-color: #555;
  --menu-selected-background-color: rgba(255, 255, 255, 0.1);
  --menu-text-color: white;
  --normal-background-color: #121212;
  --text-color: #eee;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--normal-background-color);
  color: var(--text-color);
}


/*************************
 * Vditor 自定义皮肤覆写
 *************************/
.comment-editor-container .vditor {
  /* 去掉整体背景与边框，让它融入父容器 */
  --textarea-background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

/* 工具栏彻底无边框、透明背景 */
.comment-editor-container .vditor-toolbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
